*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  width: 1300px;
}
.container{
  width: 90%;
  margin:auto;
  /* position: relative; */
}
#navbar{
  display: flex;
  width: 100%;
}
#navbar-left,
#navbar-right{
  width: 50%;
}
#navbar-left > ul,
#navbar-right > ul{
  display: flex;
  list-style: none;
  width: 100%;
  height: 100%;
}
ul > li{
  padding: 10px 15px;
  list-style: none;
}
#navbar-left > ul > li,
#navbar-right > ul >li{
  position: relative;
}

ul > li > a{
  display: inline-block;
  text-decoration: none;
  color: #888;
  margin-top: 10px;
  font-weight: 600;
}
ul > li > a:hover{
  color: black;
}
#navbar-left > ul{
  justify-content: flex-start;
  text-transform: uppercase;
}
#navbar-right > ul{
  justify-content: flex-end;
  text-transform: capitalize;
}
.logo{
  padding: 0;
  margin: 0;
}
.logo > img{
  height: 35px;
}
.btn{
  color: white;
  background: #eb008d;
  border-radius: 17px;
  margin-top: 0;
  padding: 10px 15px;
  text-transform: none;
}
.btn:hover{
  color: white;
  box-shadow: 1px 1px 10px #aaa;
}

/* Sottomenù */
.menu {
  display: none;
  box-shadow: 1px 1px 10px #aaa;
  border-radius: 10px;
}
.menu > ul > li{
  color: #888;

}
.active{
  display: inline-block;
}
.menu{
  position: absolute;
  top: 50px;
  left: 0;
}
/*
.tariffazione{
  position: absolute;
  top: 50px;
  left: 595px;
}
.conti{
  position: absolute;
  top: 50px;
  left: 700px;
}
.prodotti{
  position: absolute;
  top: 50px;
  left: 765px;
}
.azienda{
  position: absolute;
  top: 50px;
  left: 845px;
}
*/
